.MuiInputBase-root{
    width : 350px;
}

.MuiPaper-root{
    width : 700px;
    margin: auto;
    padding: 30px;
    min-width: 420px;
}

.MuiButtonBase-root{
    margin-top: 15px!important;
    width : 150px;
    margin-left: 200px!important;
    background-color: #309afc!important;
    background-image: none!important;
    font-size: 13px!important;
    border: 1px solid #0084e8!important;
    border-radius: 1px !important;
    box-shadow: none!important;
    text-shadow: none!important;
}

.MuiButtonBase-root:hover{
    background-color: #0084e8!important;
}

.repoInputs{
    padding: 10px;
}

.back-button{
    position: fixed;
    left:25px;
    top:20px;
    font-size: 35px!important;
    cursor: pointer;
    border: 2px solid #309afc;
    border-radius: "50%"!important;
    color: #309afc;
    transition: all 0.5s!important;
}
.back-button:hover{
    background-color: #309afc;
    color: #ffffff;
}

.statusMessage{
    color: aquamarine;
    display: 'inline-block'
}

.errorMessage{
    color: chocolate;
    display: 'inline-block'
}

.messages-panel{
    overflow: scroll;
    max-height: 150px;
    text-align: left;
    margin-left: 20px;
}