body {
  text-align: center;
}
.home-heading{
  font-size: 25px;
  margin-bottom:30px;
}

.MuiPaper-root{
  width : 700px;
  margin: auto;
  padding: 30px;
  min-width: 420px;
  min-height: 300px;
}

.Api-Error, .Home-Loader{
  margin: '0 auto';
  margin-top:10%
}